body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  padding: 1px;
  background-color: #1d3557;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.titulo-container {
  text-align: center;
  margin-bottom: 40px;
}

.titulo {
  font-family: 'Freckle Face', cursive;
  font-size: 56px;
  color: #fca311; /* dourado vibrante */
  margin: 0;
  letter-spacing: 2px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  display: inline-block;
}

.search-container {
  text-align: center;
  margin-top: 30px;
}

.search-container input[type="text"] {
  padding: 12px;
  width: 320px;
  border: 2px solid #457b9d;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

.search-container input[type="text"]:focus {
  border-color: #fca311;
}

.search-container button {
  padding: 12px 24px;
  background-color: #1d3557;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #fca311;
  color: #1d3557;
}

.container_logo_lojas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0;
  background-color: transparent;
}

.quadrado_mercado_livre, .quadrado_buscape {
  width: 150px;
  height: 150px;
  background-color: #1d3557;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quadrado_mercado_livre {
  background-image: url('images/logo_mercado_livre.jpeg');
}

.quadrado_buscape {
  background-image: url('images/logo_buscape.webp');
}

.quadrado_mercado_livre:hover,
.quadrado_buscape:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.3);
}

.logo-ativa {
  border: 4px solid #07ce00; /* verde elegante */ 
  box-shadow: 0 0 20px #07ce00;
  transition: all 0.3s ease;
}

.quadrado_mercado_livre,
.quadrado_buscape {
  border: 4px solid transparent; /* borda invisível por padrão */
  /* resto do seu estilo permanece igual */
}

.carregamento_busca {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #1d3557;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.carregamento_busca:before {
  content: "Procurando...";
}

@keyframes l5 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
